@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif;
}
.barra {
    background-color: #e2e2e2;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    align-items: center;
    
}
.uno{
    transition: 0.25s;
    padding: 20px;
    border-radius: 5px;
}
.uno:hover{
    background-color:black;
    color: white;
    scale: 1.15;
}
.main {
    border: 1px solid black;
    padding: 20px;
    border-radius: 14px;
}
body{
    background-image: url(https://cloudfront-us-east-1.images.arcpublishing.com/prisaradioco/RUH2AAC3OFBEDGQNK2FLGZBRWI.jpeg);
    background-size: cover;
}
.formulario{
    justify-content: center;
    text-align: center;
    background-color: rgba(137, 129, 129, 0.6);
    padding: 20px;
    padding-left: 20px;
}
input{
    padding : 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 170px;
}
textarea{
    padding : 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 70px;
}
button{

}
.pie{
    color: white;
    background-color: black;
    padding: 40px;
    margin-top: 286px;
}